<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selective Execution Suite">
    <test name="Only Required Tests">
        <classes>
     
                        <class name="tests.CreateUserTests"/>
                        
                        <!-- <class name="tests.CreateDeviceTests"/> -->
            
        </classes>
    </test>
</suite>
