<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selective Execution Suite">
    <test name="Only Required Tests">
        <classes>
            <!-- <class name="tests.WorkOrderTests"/> -->
            <!-- <class name="tests.DocumentsTests"/> -->
            <!-- <class name="tests.NewUserTests"/> -->
                        <class name="tests.LoginTests"/>

            <class name="tests.CreateUserTests"/>
        </classes>
    </test>
</suite>
